.card-portion {
  padding: 10px;
  margin-top: 10px;
}
.newRelease {
  padding: 3px;
  margin: 3px;
  overflow: hidden;
}

.newRelease h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

.newRelease h2::after {
  content: "";
  width: 140px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #db584e;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0.8;
}

.wrapper {
  margin: 20px 5px;
}
.app {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.card {
  min-width: 25%;
  overflow: hidden;
  padding: 0px;
  border: 3px solid #eee;
}
.card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}
.card h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  opacity: 0.8;
}
.card p {
  opacity: 0.7;
  line-height: 1.5;
  margin: 5px 0;
}
.card a {
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  color: teal;
}
.card a:hover {
  color: crimson;
}
.row .prev,
.next {
  position: absolute;
  /* top: 50%; */
  transform: translateY(-50%);
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

@media (max-width: 900px) {
  .card {
    min-width: 50%;
  }
}
@media (max-width: 550px) {
  .card {
    min-width: 100%;
  }
}
